<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.MySQL" version="9.4.235" targetFramework="net48" />
  <package id="dotConnect.Express.for.PostgreSQL" version="8.4.235" targetFramework="net48" />
  <package id="dotConnect.Express.for.SQLite" version="6.4.235" targetFramework="net48" />
  <package id="FreeDataExports" version="1.1.12" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="QRCoder" version="1.6.0" targetFramework="net48" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
</packages>