<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.MySQL" version="9.4.290" targetFramework="net48" />
  <package id="dotConnect.Express.for.PostgreSQL" version="8.4.290" targetFramework="net48" />
  <package id="dotConnect.Express.for.SQLite" version="6.4.290" targetFramework="net48" />
  <package id="QRCoder" version="1.7.0" targetFramework="net48" />
</packages>