<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.MySQL" version="8.21.2066" targetFramework="net48" />
  <package id="dotConnect.Express.for.PostgreSQL" version="7.24.2066" targetFramework="net48" />
  <package id="dotConnect.Express.for.SQLite" version="5.19.2066" targetFramework="net48" />
</packages>